.container {
    background-color: #cee4fa;
    color: #000;
    /* fill the viewport top-to-bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
}

.texto {
    font-size: 40px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}